# Arquivos de configuração locais
.env

# Diretório node_modules gerado pelo npm/yarn
node_modules/

# Arquivos de log
logs/
*.log

# Arquivos de build
dist/

# Arquivos de dependência de editor
.idea/
.vscode/

# Arquivos de cache
.npm/
.pnp/
.pnp.js

# Arquivos temporários
*.tmp

# Outros arquivos gerados automaticamente
*.seed

# Arquivos de erro do sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de backup
*.bak

# Arquivos de configuração personalizados
config/*.local

# Arquivos de configuração de compilador TypeScript

# Cache do Jest
.jest-cache/

# Arquivos de cobertura gerados por ferramentas de teste
coverage/

# Dependendo do gerenciador de pacotes, você pode querer ignorar mais diretórios e arquivos.
